body {
	width: 100%;
	height: 100%;
	font-family: "Segoe UI", sans-serif;
	color: #515151;
}

.settings-bar {
	height: 100%;
	width: 300px;
	box-shadow: 0px 0px 10px #d1d1d1;
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
}

.settings-header {
	position: fixed;
	width: 300px;
	height: 130px;
	font-size: 40px;
	line-height: 130px;
	text-align: center;
	top: 0;
	right: 0;
	border-bottom: 1px solid #d1d1d1;
	background-color: white;
}

#settings {
	overflow-y: scroll;
	width: 300px;
	height: inherit;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#settings > li {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #d1d1d1;
}

#settings > li:first-child {
	margin-top: 130px;
}

canvas {
	width: 1000px;
	height: 100%;
}

.setting-title {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 7px;
}

.setting {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	width: 70px;
	line-height: 21px;
}

input {
	border-radius: 3px;
	border: 1px solid #d1d1d1;
	width: 200px;
	text-align: right;
}

input:focus {
	outline: none;
	border-color: #0000ff;
}

.toggle {
	width: 20px;
	height: 1em;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	float: right;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
}

.toggle:hover {
	background-color: #ccdfff;
	border-color: #0000ff;
	cursor: pointer;
}

.apply {
	margin: auto;
	margin-top: 7px;
	width: 70px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
}

.apply:hover {
	border-color: #0000ff;
	cursor: pointer;
}

.apply-all {
	position: fixed;
	top: 100;
	right: 10;
	min-width: 70px;
	margin: 0px;
}

.selected {
	background-color: #ccdfff;
	border-color: #0000ff;
}

.rgb-select {
	margin-top: 5px;
	padding-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	border-top: 1px solid #d1d1d1;
}

.rgb {
	width: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.range {
	width: 190px;
	height: 1em;
	margin-right: 10px;
}

.text {
	width: 28px;
}

.color {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #d1d1d1;
	background-color: black;
}

.add-delete-color {
	float: right;
	margin-top: 5px;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	height: 18px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	line-height: 20px;
	clear: right;
}

.add-delete-color:hover {
	border-color: #0000ff;
	cursor: pointer;
}

#delete0:hover {
	cursor: not-allowed;
	border-color: #d1d1d1;
}

.setting-wide {
	width: 170px;
}










